html{
    font-family: Arial, Helvetica, sans-serif;
}
#banner{
    background-color: #d4e3fc;
    border: 1px solid rgb(121, 117, 117);
    border-radius: 20px;
}
#logo a{
    text-decoration: none;
    padding-left:10px;
    color: black;
     font-family: asar;
    font-size: 45px;
        
}

li{
    display: inline;
}
#search{
  float: right;
  margin-right: 80px;
  padding-right: 10px;
  display: none;
  border-radius: 20px;
  box-shadow: inset rgba(207, 216, 230, 0.8) 1px 1px 1px 1px;
  
}
#menu a{
    text-decoration: none;
    color: black;
    margin-left: 14px;
    font-size: 24px;
    
}
#result{
    background-color: #d4e3fc;
    border: 1px solid rgb(121, 117, 117);
    border-radius: 20px;
    margin-top: 10px;
    padding-left: 8px;
    
    
   
    
}
#recomendation{
    
    /* position: relative;
    padding: 20px;
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 21px;
    margin-bottom: 21px;
    flex-direction: row;
    background-color: rgb(255, 253, 253);
    border: 1px solid rgb(121, 117, 117);
    border-radius: 20px; */

    /* padding: 0 10vw; */
    border-radius: 20px; 
    border: 1px solid rgb(121, 117, 117);
    background-color: rgb(255, 253, 253);
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    
}
/* #recomendation::-webkit-scrollbar {
    display: none;
} */

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.loader-wrapper {
    width: 60px;
    height: 60px;
    margin: auto;
    display: none;
}
.loader{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 10px solid #162534;
    border-top-color: #4bc8eb;
    border-bottom-color: #f13a8f;
    border-radius: 50px;
    animation: rotate 5s linear infinite;
}
.loader-inner{
    border-top-color: #36f372;
    border-bottom-color: #fff;
    animation-duration: 2.5s;
}
@keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
    }
    50%{
        transform: scale(.8) rotate(-360deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}

footer{
    border: 1px solid rgb(121, 117, 117);
    border-radius: 20px;
    margin-top: 6px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: black;
    padding-left: 18px;
    padding-right: 18px;
}
item{
    background-color: white;
    display: flex;
    width: 300px;
    height: auto;
    padding: 20px;
    flex-direction: column;
    border: solid 5px rgb(0, 0, 0);
    border-radius: 20px;
    justify-content: space-evenly;
    margin: 10px;
    /* padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth; */
}

img{
    width: 300px;
  
}

#title p{
    text-overflow: ellipsis;
}
#products{
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 21px;
    margin-bottom: 21px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 253, 253);
    border: 1px solid rgb(121, 117, 117);
    border-radius: 22px;
}
#Comprarison{
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 21px;
    margin-bottom: 21px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 253, 253);
    border: 1px solid rgb(121, 117, 117);
    border-radius: 22px;

}
#title-products{
    display: inline;
}
#BestsellingGadgets{
    /* display: flex;
    width: 100%;
    margin: auto;
    margin-top: 21px;
    margin-bottom: 21px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 253, 253);
    border: 1px solid rgb(121, 117, 117);
    border-radius: 20px; */
    border-radius: 20px; 
    border: 1px solid rgb(121, 117, 117);
    background-color: rgb(255, 253, 253);
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
#LatestGadgets{
    /* display: flex;
    width: 100%;
    margin: auto;
    margin-top: 21px;
    margin-bottom: 21px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 253, 253);
    border: 1px solid rgb(121, 117, 117);
    border-radius: 20px; */

    
    border-radius: 20px; 
    border: 1px solid rgb(121, 117, 117);
    background-color: rgb(255, 253, 253);
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    
}

#wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    "banner"
    "menu"
    "result"
    "loader-wrapper"
    "footer";
}

@media (min-width: 430px) {
    #LatestGadgets{
        /* display: none; */
    }

    #search {
        display: inline;
    }
}
